In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from nba_api.stats.endpoints import playerawards
# Lebron James
awards = playerawards.PlayerAwards(player_id='2544')
awards.get_data_frames()[0]

,PERSON_ID,FIRST_NAME,LAST_NAME,TEAM,DESCRIPTION,ALL_NBA_TEAM_NUMBER,SEASON,MONTH,WEEK,CONFERENCE,TYPE,SUBTYPE1,SUBTYPE2,SUBTYPE3
0,2544,LeBron,James,Cleveland Cavaliers,All-Defensive Team,1,2008-09,None,None,1610612739,Award,Kia Motors,KIADT,None
1,2544,LeBron,James,Cleveland Cavaliers,All-Defensive Team,1,2009-10,None,None,1610612739,Award,Kia Motors,KIADT,None
2,2544,LeBron,James,Miami Heat,All-Defensive Team,1,2010-11,None,None,1610612748,Award,Kia Motors,KIADT,None
3,2544,LeBron,James,Miami Heat,All-Defensive Team,1,2011-12,None,None,1610612748,Award,Kia Motors,KIADT,None
4,2544,LeBron,James,Miami Heat,All-Defensive Team,1,2012-13,None,None,1610612748,Award,Kia Motors,KIADT,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,2544,LeBron,James,USA,Olympic Bronze Medal,None,2004,None,None,None,Award,Olympic,Bronze,None
147,2544,LeBron,James,USA,Olympic Gold Medal,None,2008,None,None,None,Award,Olympic,Gold,None
148,2544,LeBron,James,USA,Olympic Gold Medal,None,2012,None,None,None,Award,Olympic,Gold,None
149,2544,LeBron,James,Los Angeles Lakers,NBA Player of the Week,None,2021-22,None,2021-12-06T00:00:00,West,Award,Kia Motors,KIPWK,None
150,2544,LeBron,James,Los Angeles Lakers,All-NBA,3,2021-22,None,None,West,Award,Kia Motors,KIANT,None

In [3]:
# Micheal Jordan
awards = playerawards.PlayerAwards(player_id='893')
awards.get_data_frames()[0]

,PERSON_ID,FIRST_NAME,LAST_NAME,TEAM,DESCRIPTION,ALL_NBA_TEAM_NUMBER,SEASON,MONTH,WEEK,CONFERENCE,TYPE,SUBTYPE1,SUBTYPE2,SUBTYPE3
0,893,Michael,Jordan,Chicago Bulls,All-Defensive Team,1,1987-88,None,None,1610612741,Award,Kia Motors,KIADT,None
1,893,Michael,Jordan,Chicago Bulls,All-Defensive Team,1,1988-89,None,None,1610612741,Award,Kia Motors,KIADT,None
2,893,Michael,Jordan,Chicago Bulls,All-Defensive Team,1,1989-90,None,None,1610612741,Award,Kia Motors,KIADT,None
3,893,Michael,Jordan,Chicago Bulls,All-Defensive Team,1,1990-91,None,None,1610612741,Award,Kia Motors,KIADT,None
4,893,Michael,Jordan,Chicago Bulls,All-Defensive Team,1,1991-92,None,None,1610612741,Award,Kia Motors,KIADT,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,893,Michael,Jordan,Chicago Bulls,NBA Sporting News Most Valuable Player of the ...,None,1996-97,None,None,None,Award,Sporting News,SNMVP,None
90,893,Michael,Jordan,Chicago Bulls,NBA Sporting News Most Valuable Player of the ...,None,1997-98,None,None,None,Award,Sporting News,SNMVP,None
91,893,Michael,Jordan,Chicago Bulls,NBA Sporting News Rookie of the Year,None,1984-85,None,None,None,Award,Sporting News,SNROY,None
92,893,Michael,Jordan,USA,Olympic Gold Medal,None,1984,None,None,None,Award,Olympic,Gold,None
93,893,Michael,Jordan,USA,Olympic Gold Medal,None,1992,None,None,None,Award,Olympic,Gold,None

In [7]:
from nba_api.stats.endpoints import playercareerstats
# Lebron James
career = playercareerstats.PlayerCareerStats(player_id='2544')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,2544,2003-04,00,1610612739,CLE,19.0,79,79,3120.0,622,...,0.754,99,333,432,465,130,58,273,149,1654
1,2544,2004-05,00,1610612739,CLE,20.0,80,80,3388.0,795,...,0.750,111,477,588,577,177,52,262,146,2175
2,2544,2005-06,00,1610612739,CLE,21.0,79,79,3361.0,875,...,0.738,75,481,556,521,123,66,260,181,2478
3,2544,2006-07,00,1610612739,CLE,22.0,78,78,3190.0,772,...,0.698,83,443,526,470,125,55,250,171,2132
4,2544,2007-08,00,1610612739,CLE,23.0,75,74,3027.0,794,...,0.712,133,459,592,539,138,81,255,165,2250
5,2544,2008-09,00,1610612739,CLE,24.0,81,81,3054.0,789,...,0.780,106,507,613,587,137,93,241,139,2304
6,2544,2009-10,00,1610612739,CLE,25.0,76,76,2966.0,768,...,0.767,71,483,554,651,125,77,261,119,2258
7,2544,2010-11,00,1610612748,MIA,26.0,79,79,3063.0,758,...,0.759,80,510,590,554,124,50,284,163,2111
8,2544,2011-12,00,1610612748,MIA,27.0,62,62,2326.0,621,...,0.771,94,398,492,387,115,50,213,96,1683
9,2544,2012-13,00,1610612748,MIA,28.0,76,76,2877.0,765,...,0.753,97,513,610,551,129,67,226,110,2036
10,2544,2013-14,00,1610612748,MIA,29.0,77,77,2902.0,767,...,0.750,81,452,533,488,121,26,270,126,2089
11,2544,2014-15,00,1610612739,CLE,30.0,69,69,2493.0,624,...,0.710,51,365,416,511,109,49,272,135,1743
12,2544,2015-16,00,1610612739,CLE,31.0,76,76,2709.0,737,...,0.731,111,454,565,514,104,49,249,143,1920
13,2544,2016-17,00,1610612739,CLE,32.0,74,74,2795.0,736,...,0.674,97,542,639,646,92,44,303,134,1954
14,2544,2017-18,00,1610612739,CLE,33.0,82,82,3026.0,857,...,0.731,97,612,709,747,116,71,347,136,2251
15,2544,2018-19,00,1610612747,LAL,34.0,55,55,1937.0,558,...,0.665,57,408,465,454,72,33,197,94,1505
16,2544,2019-20,00,1610612747,LAL,35.0,67,67,2316.0,643,...,0.693,66,459,525,684,78,36,261,118,1698
17,2544,2020-21,00,1610612747,LAL,36.0,45,45,1504.0,422,...,0.698,29,317,346,350,48,25,168,70,1126
18,2544,2021-22,00,1610612747,LAL,37.0,56,56,2084.0,640,...,0.756,63,396,459,349,73,59,196,121,1695
19,2544,2022-23,00,1610612747,LAL,38.0,47,47,1695.0,532,...,0.759,57,339,396,326,44,26,147,79,1388

In [8]:
# Micheal Jordan
career = playercareerstats.PlayerCareerStats(player_id='893')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,893,1984-85,00,1610612741,CHI,22.0,82,82,3144.0,837,...,0.845,167,367,534,481,196,69,291,285,2313
1,893,1985-86,00,1610612741,CHI,23.0,18,7,451.0,150,...,0.840,23,41,64,53,37,21,45,46,408
2,893,1986-87,00,1610612741,CHI,24.0,82,82,3281.0,1098,...,0.857,166,264,430,377,236,125,272,237,3041
3,893,1987-88,00,1610612741,CHI,25.0,82,82,3311.0,1069,...,0.841,139,310,449,485,259,131,252,270,2868
4,893,1988-89,00,1610612741,CHI,26.0,81,81,3255.0,966,...,0.850,149,503,652,650,234,65,290,247,2633
5,893,1989-90,00,1610612741,CHI,27.0,82,82,3197.0,1034,...,0.848,143,422,565,519,227,54,247,241,2753
6,893,1990-91,00,1610612741,CHI,28.0,82,82,3034.0,990,...,0.851,118,374,492,453,223,83,202,229,2580
7,893,1991-92,00,1610612741,CHI,29.0,80,80,3102.0,943,...,0.832,91,420,511,489,182,75,200,201,2404
8,893,1992-93,00,1610612741,CHI,30.0,78,78,3067.0,992,...,0.837,135,387,522,428,221,61,207,188,2541
9,893,1994-95,00,1610612741,CHI,32.0,17,17,668.0,166,...,0.801,25,92,117,90,30,13,35,47,457
10,893,1995-96,00,1610612741,CHI,33.0,82,82,3090.0,916,...,0.834,148,395,543,352,180,42,197,195,2491
11,893,1996-97,00,1610612741,CHI,34.0,82,82,3109.0,920,...,0.833,113,369,482,352,140,44,166,156,2431
12,893,1997-98,00,1610612741,CHI,35.0,82,82,3181.0,881,...,0.784,130,345,475,283,141,45,185,151,2357
13,893,2001-02,00,1610612764,WAS,39.0,60,53,2089.0,551,...,0.790,50,289,339,310,85,26,162,119,1375
14,893,2002-03,00,1610612764,WAS,40.0,82,67,3029.0,679,...,0.821,71,426,497,311,123,39,173,171,1640