In [ ]:
pip install nba_api --upgrade

In [5]:
from nba_api.stats.endpoints import playercareerstats
# Anthony Davis
career = playercareerstats.PlayerCareerStats(player_id='203076')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2012-13,00,1610612740,NOH,20.0,64,60,1846.0,349,...,0.751,165,357,522,63,75,112,89,158,867
1,203076,2013-14,00,1610612740,NOP,21.0,67,66,2358.0,522,...,0.791,207,466,673,105,89,189,109,200,1394
2,203076,2014-15,00,1610612740,NOP,22.0,68,68,2455.0,642,...,0.805,173,523,696,149,100,200,95,141,1656
3,203076,2015-16,00,1610612740,NOP,23.0,61,61,2164.0,560,...,0.758,130,497,627,116,78,125,121,148,1481
4,203076,2016-17,00,1610612740,NOP,24.0,75,75,2708.0,770,...,0.802,172,712,884,157,94,167,181,168,2099
5,203076,2017-18,00,1610612740,NOP,25.0,75,75,2727.0,780,...,0.828,187,644,831,174,115,193,162,159,2110
6,203076,2018-19,00,1610612740,NOP,26.0,56,56,1850.0,530,...,0.794,174,498,672,218,88,135,112,132,1452
7,203076,2019-20,00,1610612747,LAL,27.0,62,62,2131.0,551,...,0.846,142,435,577,200,91,143,154,156,1618
8,203076,2020-21,00,1610612747,LAL,28.0,36,36,1162.0,301,...,0.738,62,224,286,110,45,59,74,60,786
9,203076,2021-22,00,1610612747,LAL,29.0,40,40,1404.0,370,...,0.713,106,288,394,122,49,90,82,97,927
10,203076,2022-23,00,1610612747,LAL,29.0,35,33,1168.0,344,...,0.820,114,317,431,88,41,70,74,96,910

In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
ls

Player.ipynb

In [9]:
from nba_api.stats.endpoints import playercareerstats
#Lester Hudson
career = playercareerstats.PlayerCareerStats(player_id='201991')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,201991,2009-10,00,1610612738,BOS,25.0,16,0,70.0,7,...,0.833,3,5,8,8,3,2,9,7,22
1,201991,2009-10,00,1610612763,MEM,25.0,9,0,61.0,14,...,0.857,4,6,10,5,5,1,5,5,36
2,201991,2009-10,00,0,TOT,25.0,25,0,131.0,21,...,0.846,7,11,18,13,8,3,14,12,58
3,201991,2010-11,00,1610612764,WAS,26.0,11,0,73.0,6,...,0.500,1,4,5,17,4,1,7,10,18
4,201991,2011-12,00,1610612739,CLE,27.0,13,0,314.0,59,...,0.842,7,39,46,35,14,3,30,26,165
5,201991,2011-12,00,1610612763,MEM,27.0,3,0,20.0,3,...,0.667,0,0,0,1,0,0,2,0,9
6,201991,2011-12,00,0,TOT,27.0,16,0,334.0,62,...,0.829,7,39,46,36,14,3,32,26,174
7,201991,2014-15,00,1610612746,LAC,30.0,5,0,56.0,6,...,0.750,1,7,8,5,6,1,3,4,18

In [10]:
from nba_api.stats.endpoints import playercareerstats
#Nikola Jokic
career = playercareerstats.PlayerCareerStats(player_id='203999')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203999,2015-16,00,1610612743,DEN,21.0,80,55,1733.0,307,...,0.811,181,379,560,189,79,50,104,208,796
1,203999,2016-17,00,1610612743,DEN,22.0,73,59,2038.0,494,...,0.825,212,506,718,359,61,55,171,214,1221
2,203999,2017-18,00,1610612743,DEN,23.0,75,73,2443.0,504,...,0.850,195,608,803,458,90,61,210,212,1385
3,203999,2018-19,00,1610612743,DEN,24.0,80,80,2504.0,616,...,0.821,228,637,865,580,108,55,248,228,1604
4,203999,2019-20,00,1610612743,DEN,25.0,73,73,2335.0,565,...,0.817,166,545,711,512,85,44,226,222,1456
5,203999,2020-21,00,1610612743,DEN,26.0,72,72,2488.0,732,...,0.868,205,575,780,599,95,48,222,192,1898
6,203999,2021-22,00,1610612743,DEN,27.0,74,74,2476.0,764,...,0.810,206,813,1019,584,109,63,281,191,2004
7,203999,2022-23,00,1610612743,DEN,28.0,51,51,1714.0,480,...,0.822,105,479,584,515,65,36,181,134,1261

In [11]:
from nba_api.stats.endpoints import playercareerstats
#Stephen Curry
career = playercareerstats.PlayerCareerStats(player_id='201939')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,201939,2009-10,00,1610612744,GSW,22.0,80,77,2896.0,528,...,0.885,48,308,356,472,152,19,243,252,1399
1,201939,2010-11,00,1610612744,GSW,23.0,74,74,2489.0,505,...,0.934,52,234,286,432,109,20,226,233,1373
2,201939,2011-12,00,1610612744,GSW,24.0,26,23,732.0,145,...,0.809,15,73,88,138,39,8,65,62,383
3,201939,2012-13,00,1610612744,GSW,25.0,78,78,2983.0,626,...,0.900,59,255,314,539,126,12,240,198,1786
4,201939,2013-14,00,1610612744,GSW,26.0,78,78,2846.0,652,...,0.885,46,288,334,666,128,14,294,194,1873
5,201939,2014-15,00,1610612744,GSW,27.0,80,80,2613.0,653,...,0.914,56,285,341,619,163,16,249,158,1900
6,201939,2015-16,00,1610612744,GSW,28.0,79,79,2700.0,805,...,0.908,68,362,430,527,169,15,262,161,2375
7,201939,2016-17,00,1610612744,GSW,29.0,79,79,2639.0,675,...,0.898,61,292,353,524,142,17,239,183,1999
8,201939,2017-18,00,1610612744,GSW,30.0,51,51,1631.0,428,...,0.921,36,225,261,310,80,8,153,114,1346
9,201939,2018-19,00,1610612744,GSW,31.0,69,69,2331.0,632,...,0.916,45,324,369,361,92,25,192,166,1881
10,201939,2019-20,00,1610612744,GSW,32.0,5,5,139.0,33,...,1.000,4,22,26,33,5,2,16,11,104
11,201939,2020-21,00,1610612744,GSW,33.0,63,63,2152.0,658,...,0.916,29,316,345,363,77,8,213,119,2015
12,201939,2021-22,00,1610612744,GSW,34.0,64,64,2211.0,535,...,0.923,34,301,335,404,85,23,206,130,1630
13,201939,2022-23,00,1610612744,GSW,34.0,38,38,1313.0,372,...,0.922,22,219,241,244,37,15,122,82,1119

In [12]:
from nba_api.stats.endpoints import playercareerstats
#Kevin Durrant
career = playercareerstats.PlayerCareerStats(player_id='201142')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,201142,2007-08,00,1610612760,SEA,19.0,80,80,2768.0,587,...,0.873,70,278,348,192,78,75,232,122,1624
1,201142,2008-09,00,1610612760,OKC,20.0,74,74,2885.0,661,...,0.863,77,405,482,205,96,53,225,134,1871
2,201142,2009-10,00,1610612760,OKC,21.0,82,82,3239.0,794,...,0.900,105,518,623,231,112,84,271,171,2472
3,201142,2010-11,00,1610612760,OKC,22.0,78,78,3038.0,711,...,0.880,57,476,533,214,88,76,218,159,2161
4,201142,2011-12,00,1610612760,OKC,23.0,66,66,2546.0,643,...,0.860,40,487,527,231,88,77,248,133,1850
5,201142,2012-13,00,1610612760,OKC,24.0,81,81,3119.0,731,...,0.905,46,594,640,374,116,105,280,143,2280
6,201142,2013-14,00,1610612760,OKC,25.0,81,81,3122.0,849,...,0.873,58,540,598,445,103,59,285,174,2593
7,201142,2014-15,00,1610612760,OKC,26.0,27,27,913.0,238,...,0.854,16,162,178,110,24,25,74,40,686
8,201142,2015-16,00,1610612760,OKC,27.0,72,72,2578.0,698,...,0.898,45,544,589,361,69,85,250,137,2029
9,201142,2016-17,00,1610612744,GSW,28.0,62,62,2070.0,551,...,0.875,39,474,513,300,66,99,138,117,1555
10,201142,2017-18,00,1610612744,GSW,29.0,68,68,2325.0,630,...,0.889,31,433,464,366,50,119,207,133,1792
11,201142,2018-19,00,1610612744,GSW,30.0,78,78,2702.0,721,...,0.885,33,464,497,457,58,84,225,155,2027
12,201142,2020-21,00,1610612751,BKN,32.0,35,32,1157.0,324,...,0.882,13,234,247,195,25,45,120,70,943
13,201142,2021-22,00,1610612751,BKN,33.0,55,55,2047.0,578,...,0.910,29,378,407,351,48,52,191,113,1643
14,201142,2022-23,00,1610612751,BKN,34.0,39,39,1403.0,410,...,0.934,14,248,262,207,32,57,136,92,1158

In [13]:
from nba_api.stats.endpoints import playercareerstats
#Lebron James
career = playercareerstats.PlayerCareerStats(player_id='2544')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,2544,2003-04,00,1610612739,CLE,19.0,79,79,3120.0,622,...,0.754,99,333,432,465,130,58,273,149,1654
1,2544,2004-05,00,1610612739,CLE,20.0,80,80,3388.0,795,...,0.750,111,477,588,577,177,52,262,146,2175
2,2544,2005-06,00,1610612739,CLE,21.0,79,79,3361.0,875,...,0.738,75,481,556,521,123,66,260,181,2478
3,2544,2006-07,00,1610612739,CLE,22.0,78,78,3190.0,772,...,0.698,83,443,526,470,125,55,250,171,2132
4,2544,2007-08,00,1610612739,CLE,23.0,75,74,3027.0,794,...,0.712,133,459,592,539,138,81,255,165,2250
5,2544,2008-09,00,1610612739,CLE,24.0,81,81,3054.0,789,...,0.780,106,507,613,587,137,93,241,139,2304
6,2544,2009-10,00,1610612739,CLE,25.0,76,76,2966.0,768,...,0.767,71,483,554,651,125,77,261,119,2258
7,2544,2010-11,00,1610612748,MIA,26.0,79,79,3063.0,758,...,0.759,80,510,590,554,124,50,284,163,2111
8,2544,2011-12,00,1610612748,MIA,27.0,62,62,2326.0,621,...,0.771,94,398,492,387,115,50,213,96,1683
9,2544,2012-13,00,1610612748,MIA,28.0,76,76,2877.0,765,...,0.753,97,513,610,551,129,67,226,110,2036
10,2544,2013-14,00,1610612748,MIA,29.0,77,77,2902.0,767,...,0.750,81,452,533,488,121,26,270,126,2089
11,2544,2014-15,00,1610612739,CLE,30.0,69,69,2493.0,624,...,0.710,51,365,416,511,109,49,272,135,1743
12,2544,2015-16,00,1610612739,CLE,31.0,76,76,2709.0,737,...,0.731,111,454,565,514,104,49,249,143,1920
13,2544,2016-17,00,1610612739,CLE,32.0,74,74,2795.0,736,...,0.674,97,542,639,646,92,44,303,134,1954
14,2544,2017-18,00,1610612739,CLE,33.0,82,82,3026.0,857,...,0.731,97,612,709,747,116,71,347,136,2251
15,2544,2018-19,00,1610612747,LAL,34.0,55,55,1937.0,558,...,0.665,57,408,465,454,72,33,197,94,1505
16,2544,2019-20,00,1610612747,LAL,35.0,67,67,2316.0,643,...,0.693,66,459,525,684,78,36,261,118,1698
17,2544,2020-21,00,1610612747,LAL,36.0,45,45,1504.0,422,...,0.698,29,317,346,350,48,25,168,70,1126
18,2544,2021-22,00,1610612747,LAL,37.0,56,56,2084.0,640,...,0.756,63,396,459,349,73,59,196,121,1695
19,2544,2022-23,00,1610612747,LAL,38.0,45,45,1632.0,517,...,0.762,51,328,379,315,43,25,142,73,1349

In [1]:
from nba_api.stats.endpoints import playercareerstats
#Trae Young
career = playercareerstats.PlayerCareerStats(player_id='1629027')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1629027,2018-19,00,1610612737,ATL,20.0,81,81,2503.0,525,...,0.829,64,237,301,653,72,15,308,140,1549
1,1629027,2019-20,00,1610612737,ATL,21.0,60,60,2120.0,546,...,0.860,32,223,255,560,65,8,289,104,1778
2,1629027,2020-21,00,1610612737,ATL,22.0,63,63,2125.0,487,...,0.886,38,207,245,594,53,12,261,111,1594
3,1629027,2021-22,00,1610612737,ATL,23.0,76,76,2652.0,711,...,0.904,50,234,284,737,72,7,303,128,2155
4,1629027,2022-23,00,1610612737,ATL,24.0,54,54,1907.0,458,...,0.889,39,120,159,550,57,8,221,83,1458

In [2]:
from nba_api.stats.endpoints import playercareerstats
#Jayson Tatum
career = playercareerstats.PlayerCareerStats(player_id='1628369')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1628369,2017-18,00,1610612738,BOS,20.0,80,80,2443.0,397,...,0.826,50,352,402,128,83,58,114,170,1112
1,1628369,2018-19,00,1610612738,BOS,21.0,79,79,2455.0,466,...,0.855,70,407,477,168,84,57,122,168,1243
2,1628369,2019-20,00,1610612738,BOS,22.0,66,66,2265.0,552,...,0.812,64,396,460,200,93,57,155,136,1547
3,1628369,2020-21,00,1610612738,BOS,23.0,64,64,2290.0,605,...,0.868,50,422,472,276,75,31,171,122,1692
4,1628369,2021-22,00,1610612738,BOS,24.0,76,76,2731.0,708,...,0.853,85,524,609,334,75,49,217,174,2046
5,1628369,2022-23,00,1610612738,BOS,24.0,57,57,2129.0,563,...,0.864,63,435,498,263,59,45,168,122,1734

In [3]:
from nba_api.stats.endpoints import playercareerstats
#Terry Rozier
career = playercareerstats.PlayerCareerStats(player_id='1626179')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1626179,2015-16,00,1610612738,BOS,22.0,39,0,311.0,29,...,0.800,24,39,63,37,6,1,19,23,72
1,1626179,2016-17,00,1610612738,BOS,23.0,74,0,1263.0,151,...,0.773,40,187,227,131,45,11,47,69,410
2,1626179,2017-18,00,1610612738,BOS,24.0,80,16,2068.0,316,...,0.772,63,313,376,232,80,19,80,123,900
3,1626179,2018-19,00,1610612738,BOS,25.0,79,14,1791.0,258,...,0.785,32,275,307,231,68,21,68,101,708
4,1626179,2019-20,00,1610612766,CHA,26.0,63,63,2165.0,398,...,0.874,50,226,276,259,61,10,141,126,1134
5,1626179,2020-21,00,1610612766,CHA,27.0,69,69,2383.0,510,...,0.817,47,255,302,293,87,26,128,119,1407
6,1626179,2021-22,00,1610612766,CHA,28.0,73,73,2458.0,518,...,0.852,56,259,315,326,93,25,96,119,1408
7,1626179,2022-23,00,1610612766,CHA,28.0,51,51,1813.0,401,...,0.826,47,166,213,247,57,13,106,95,1090

In [4]:
from nba_api.stats.endpoints import playercareerstats
#DeMar DeRozan
career = playercareerstats.PlayerCareerStats(player_id='201942')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,201942,2009-10,00,1610612761,TOR,20.0,77,65,1664.0,255,...,0.763,66,157,223,53,43,18,62,176,662
1,201942,2010-11,00,1610612761,TOR,21.0,82,82,2851.0,539,...,0.813,75,240,315,148,85,31,144,217,1410
2,201942,2011-12,00,1610612761,TOR,22.0,63,63,2206.0,381,...,0.810,40,171,211,128,48,17,123,162,1054
3,201942,2012-13,00,1610612761,TOR,23.0,82,82,3013.0,548,...,0.831,48,272,320,204,76,24,151,173,1485
4,201942,2013-14,00,1610612761,TOR,24.0,79,79,3017.0,604,...,0.824,51,292,343,313,86,28,176,197,1791
5,201942,2014-15,00,1610612761,TOR,25.0,60,60,2100.0,409,...,0.832,41,236,277,210,73,11,137,122,1204
6,201942,2015-16,00,1610612761,TOR,26.0,78,78,2804.0,614,...,0.850,64,285,349,315,81,21,175,167,1830
7,201942,2016-17,00,1610612761,TOR,27.0,74,74,2620.0,721,...,0.842,70,316,386,290,78,13,180,134,2020
8,201942,2017-18,00,1610612761,TOR,28.0,80,80,2712.0,645,...,0.825,59,256,315,417,85,22,175,151,1840
9,201942,2018-19,00,1610612759,SAS,29.0,77,77,2688.0,631,...,0.830,54,408,462,475,86,36,199,177,1635
10,201942,2019-20,00,1610612759,SAS,30.0,68,68,2316.0,557,...,0.845,44,331,375,380,70,20,164,180,1504
11,201942,2020-21,00,1610612759,SAS,31.0,61,61,2056.0,455,...,0.880,40,219,259,422,56,15,119,128,1316
12,201942,2021-22,00,1610612741,CHI,32.0,76,76,2743.0,774,...,0.877,56,336,392,374,68,24,181,178,2118
13,201942,2022-23,00,1610612741,CHI,33.0,55,55,1988.0,503,...,0.881,23,230,253,280,54,29,121,147,1390

In [5]:
from nba_api.stats.endpoints import playercareerstats
#Donovan Mitchell
career = playercareerstats.PlayerCareerStats(player_id='1628378')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1628378,2017-18,00,1610612762,UTA,21.0,79,71,2638.0,595,...,0.805,52,244,296,291,118,27,215,213,1616
1,1628378,2018-19,00,1610612762,UTA,22.0,77,77,2598.0,661,...,0.806,59,257,316,322,106,31,218,208,1829
2,1628378,2019-20,00,1610612762,UTA,23.0,69,69,2364.0,602,...,0.863,53,251,304,294,70,14,184,172,1655
3,1628378,2020-21,00,1610612762,UTA,24.0,53,53,1771.0,478,...,0.845,50,185,235,277,52,15,147,117,1401
4,1628378,2021-22,00,1610612762,UTA,25.0,67,67,2266.0,617,...,0.853,55,227,282,358,99,12,200,164,1733
5,1628378,2022-23,00,1610612739,CLE,26.0,53,53,1875.0,503,...,0.876,49,164,213,253,82,21,143,127,1441

In [6]:
from nba_api.stats.endpoints import playercareerstats
#Luka Doncic
career = playercareerstats.PlayerCareerStats(player_id='1629029')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1629029,2018-19,00,1610612742,DAL,20.0,72,72,2318.0,506,...,0.713,86,477,563,429,77,25,247,137,1526
1,1629029,2019-20,00,1610612742,DAL,21.0,61,61,2047.0,581,...,0.758,78,495,573,538,62,14,260,153,1759
2,1629029,2020-21,00,1610612742,DAL,22.0,66,66,2262.0,647,...,0.730,54,473,527,567,64,36,281,152,1830
3,1629029,2021-22,00,1610612742,DAL,23.0,65,65,2301.0,641,...,0.744,56,537,593,568,75,36,292,145,1847
4,1629029,2022-23,00,1610612742,DAL,23.0,52,52,1892.0,580,...,0.732,45,412,457,422,79,26,190,137,1720

In [7]:
from nba_api.stats.endpoints import playercareerstats
#Cory Joseph
career = playercareerstats.PlayerCareerStats(player_id='202709')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,202709,2011-12,00,1610612759,SAS,20.0,29,1,266.0,22,...,0.647,5,20,25,34,7,3,12,16,58
1,202709,2012-13,00,1610612759,SAS,21.0,28,9,388.0,51,...,0.857,12,40,52,53,15,4,21,25,126
2,202709,2013-14,00,1610612759,SAS,22.0,68,19,936.0,126,...,0.823,32,75,107,114,35,14,43,84,343
3,202709,2014-15,00,1610612759,SAS,23.0,79,14,1444.0,207,...,0.734,44,148,192,188,46,17,67,105,535
4,202709,2015-16,00,1610612761,TOR,24.0,80,4,2046.0,257,...,0.764,39,171,210,250,63,20,102,131,677
5,202709,2016-17,00,1610612761,TOR,25.0,80,22,2003.0,299,...,0.770,51,184,235,265,66,13,108,140,740
6,202709,2017-18,00,1610612754,IND,26.0,82,17,2210.0,256,...,0.745,39,224,263,260,80,18,87,141,649
7,202709,2018-19,00,1610612754,IND,27.0,82,9,2063.0,226,...,0.698,39,240,279,321,94,22,80,131,537
8,202709,2019-20,00,1610612758,SAC,28.0,72,26,1759.0,171,...,0.857,44,144,188,251,53,21,80,133,458
9,202709,2020-21,00,1610612758,SAC,29.0,44,2,944.0,111,...,0.766,25,74,99,108,39,9,44,98,289
10,202709,2020-21,00,1610612765,DET,29.0,19,11,502.0,89,...,0.878,10,50,60,105,22,9,35,41,228
11,202709,2020-21,00,0,TOT,29.0,63,13,1446.0,200,...,0.818,35,124,159,213,61,18,79,139,517
12,202709,2021-22,00,1610612765,DET,30.0,65,39,1600.0,178,...,0.885,29,145,174,237,42,17,85,147,521
13,202709,2022-23,00,1610612765,DET,31.0,42,2,658.0,72,...,0.757,10,45,55,136,18,6,30,61,199

In [8]:
from nba_api.stats.endpoints import playercareerstats
#Frank Kaminsky
career = playercareerstats.PlayerCareerStats(player_id='1626163')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1626163,2015-16,00,1610612766,CHA,23.0,81,3,1708.0,215,...,0.730,69,266,335,98,38,43,58,126,606
1,1626163,2016-17,00,1610612766,CHA,24.0,75,16,1954.0,320,...,0.756,57,279,336,162,46,34,76,139,874
2,1626163,2017-18,00,1610612766,CHA,25.0,79,4,1835.0,307,...,0.799,46,242,288,129,36,19,66,95,873
3,1626163,2018-19,00,1610612766,CHA,26.0,47,0,755.0,138,...,0.738,39,124,163,63,12,12,41,68,405
4,1626163,2019-20,00,1610612756,PHX,27.0,39,13,777.0,138,...,0.678,35,141,176,75,14,10,37,75,378
5,1626163,2020-21,00,1610612756,PHX,28.0,47,13,715.0,121,...,0.617,36,152,188,79,14,17,22,70,310
6,1626163,2021-22,00,1610612756,PHX,29.0,9,0,181.0,36,...,0.900,11,30,41,13,8,7,5,14,95
7,1626163,2022-23,00,1610612737,ATL,29.0,26,0,176.0,25,...,0.833,3,33,36,21,5,1,9,21,71
8,1626163,2022-23,00,1610612745,HOU,29.0,3,0,24.0,1,...,1.000,1,3,4,6,1,2,0,1,6
9,1626163,2022-23,00,0,TOT,29.0,29,0,200.0,26,...,0.875,4,36,40,27,6,3,9,22,77

In [9]:
from nba_api.stats.endpoints import playercareerstats
#Buddy Heild
career = playercareerstats.PlayerCareerStats(player_id='1627741')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1627741,2016-17,00,1610612740,NOP,24.0,57,37,1161.0,185,...,0.879,19,147,166,77,18,7,48,81,488
1,1627741,2016-17,00,1610612758,SAC,24.0,25,18,727.0,142,...,0.814,16,87,103,44,20,2,53,34,378
2,1627741,2016-17,00,0,TOT,24.0,82,55,1888.0,327,...,0.842,35,234,269,121,38,9,101,115,866
3,1627741,2017-18,00,1610612758,SAC,25.0,80,13,2024.0,416,...,0.877,55,252,307,155,85,22,124,148,1079
4,1627741,2018-19,00,1610612758,SAC,26.0,82,82,2615.0,623,...,0.886,106,306,412,205,58,33,146,202,1695
5,1627741,2019-20,00,1610612758,SAC,27.0,72,44,2216.0,498,...,0.846,57,271,328,213,66,17,168,165,1382
6,1627741,2020-21,00,1610612758,SAC,28.0,71,71,2433.0,403,...,0.846,29,305,334,257,63,30,130,175,1176
7,1627741,2021-22,00,1610612758,SAC,29.0,55,6,1574.0,265,...,0.870,43,178,221,105,48,15,90,113,792
8,1627741,2021-22,00,1610612754,IND,29.0,26,26,925.0,181,...,0.886,23,109,132,124,25,10,63,71,473
9,1627741,2021-22,00,0,TOT,29.0,81,32,2499.0,446,...,0.874,66,287,353,229,73,25,153,184,1265
10,1627741,2022-23,00,1610612754,IND,30.0,62,62,1989.0,381,...,0.860,52,252,304,167,72,19,114,124,1079

In [12]:
from nba_api.stats.endpoints import playercareerstats
#Tyus Jones
career = playercareerstats.PlayerCareerStats(player_id='1626145')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1626145,2015-16,00,1610612750,MIN,20.0,37,0,573.0,56,...,0.718,7,40,47,108,31,3,33,33,156
1,1626145,2016-17,00,1610612750,MIN,21.0,60,0,774.0,75,...,0.767,10,57,67,156,48,5,38,50,209
2,1626145,2017-18,00,1610612750,MIN,22.0,82,11,1467.0,150,...,0.877,16,116,132,232,95,6,59,110,416
3,1626145,2018-19,00,1610612750,MIN,23.0,68,23,1560.0,185,...,0.841,23,111,134,327,81,5,47,78,468
4,1626145,2019-20,00,1610612763,MEM,24.0,65,6,1232.0,197,...,0.741,9,94,103,285,59,6,55,44,484
5,1626145,2020-21,00,1610612763,MEM,25.0,70,9,1223.0,178,...,0.911,21,119,140,259,64,6,48,31,442
6,1626145,2021-22,00,1610612763,MEM,26.0,73,23,1549.0,249,...,0.818,17,159,176,324,66,2,46,32,632
7,1626145,2022-23,00,1610612763,MEM,26.0,59,9,1354.0,217,...,0.806,22,109,131,269,59,4,54,25,578

In [13]:
from nba_api.stats.endpoints import playercareerstats
#Jimmy Butler
career = playercareerstats.PlayerCareerStats(player_id='202710')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,202710,2011-12,00,1610612741,CHI,22.0,42,0,359.0,32,...,0.768,23,33,56,14,11,5,14,20,109
1,202710,2012-13,00,1610612741,CHI,23.0,82,20,2134.0,239,...,0.803,136,192,328,115,78,31,62,97,705
2,202710,2013-14,00,1610612741,CHI,24.0,67,67,2591.0,275,...,0.769,87,243,330,175,127,36,102,106,878
3,202710,2014-15,00,1610612741,CHI,25.0,65,65,2513.0,421,...,0.834,114,265,379,212,114,36,93,108,1301
4,202710,2015-16,00,1610612741,CHI,26.0,67,67,2474.0,470,...,0.832,79,279,358,321,110,43,132,124,1399
5,202710,2016-17,00,1610612741,CHI,27.0,76,75,2809.0,570,...,0.865,129,341,470,417,143,32,159,112,1816
6,202710,2017-18,00,1610612750,MIN,28.0,59,59,2164.0,437,...,0.854,79,235,314,288,116,24,108,78,1307
7,202710,2018-19,00,1610612750,MIN,29.0,10,10,361.0,74,...,0.787,16,36,52,43,24,10,14,18,213
8,202710,2018-19,00,1610612755,PHI,29.0,55,55,1824.0,344,...,0.868,105,185,290,220,99,29,81,93,1002
9,202710,2018-19,00,0,TOT,29.0,65,65,2185.0,418,...,0.855,121,221,342,263,123,39,95,111,1215
10,202710,2019-20,00,1610612748,MIA,30.0,58,58,1959.0,345,...,0.834,106,280,386,350,103,32,127,81,1157
11,202710,2020-21,00,1610612748,MIA,31.0,52,52,1745.0,366,...,0.863,94,265,359,369,108,18,109,71,1116
12,202710,2021-22,00,1610612748,MIA,32.0,57,57,1931.0,398,...,0.870,102,234,336,312,94,27,121,88,1219
13,202710,2022-23,00,1610612748,MIA,33.0,46,46,1537.0,331,...,0.847,99,169,268,230,89,16,79,59,1006

In [14]:
from nba_api.stats.endpoints import playercareerstats
#Giannis Antetokounmpo
career = playercareerstats.PlayerCareerStats(player_id='203507')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203507,2013-14,00,1610612749,MIL,19.0,77,23,1897.0,173,...,0.683,78,261,339,150,60,61,122,173,525
1,203507,2014-15,00,1610612749,MIL,20.0,81,71,2541.0,383,...,0.741,100,442,542,207,73,85,173,254,1030
2,203507,2015-16,00,1610612749,MIL,21.0,80,79,2823.0,513,...,0.724,113,499,612,345,94,113,208,258,1350
3,203507,2016-17,00,1610612749,MIL,22.0,80,80,2845.0,656,...,0.770,142,558,700,434,131,151,234,246,1832
4,203507,2017-18,00,1610612749,MIL,23.0,75,75,2756.0,742,...,0.760,156,597,753,361,109,106,223,231,2014
5,203507,2018-19,00,1610612749,MIL,24.0,72,72,2358.0,721,...,0.729,159,739,898,424,92,110,268,232,1994
6,203507,2019-20,00,1610612749,MIL,25.0,63,63,1917.0,685,...,0.633,140,716,856,354,61,66,230,195,1857
7,203507,2020-21,00,1610612749,MIL,26.0,61,61,2013.0,626,...,0.685,97,574,671,357,72,73,207,168,1717
8,203507,2021-22,00,1610612749,MIL,27.0,67,67,2204.0,689,...,0.722,134,644,778,388,72,91,219,212,2002
9,203507,2022-23,00,1610612749,MIL,28.0,48,48,1561.0,534,...,0.646,109,467,576,258,36,37,187,159,1500

In [16]:
from nba_api.stats.endpoints import playercareerstats
#Kyle Anderson
career = playercareerstats.PlayerCareerStats(player_id='203937')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203937,2014-15,00,1610612759,SAS,21.0,33,8,358.0,31,...,0.643,5,67,72,28,15,7,10,28,74
1,203937,2015-16,00,1610612759,SAS,22.0,78,11,1245.0,138,...,0.747,25,219,244,123,60,29,59,97,350
2,203937,2016-17,00,1610612759,SAS,23.0,72,14,1020.0,93,...,0.789,33,175,208,91,51,26,39,63,246
3,203937,2017-18,00,1610612759,SAS,24.0,74,67,1978.0,231,...,0.712,84,312,396,202,115,60,94,114,585
4,203937,2018-19,00,1610612763,MEM,25.0,43,40,1282.0,150,...,0.578,48,203,251,128,54,37,58,112,346
5,203937,2019-20,00,1610612763,MEM,26.0,67,28,1330.0,157,...,0.667,58,227,285,162,54,37,66,111,390
6,203937,2020-21,00,1610612763,MEM,27.0,69,69,1887.0,308,...,0.783,52,344,396,250,84,57,86,120,854
7,203937,2021-22,00,1610612763,MEM,28.0,69,11,1484.0,209,...,0.638,69,299,368,183,77,45,71,108,521
8,203937,2022-23,00,1610612750,MIN,29.0,49,33,1281.0,154,...,0.757,38,195,233,201,57,42,70,104,418

In [17]:
from nba_api.stats.endpoints import playercareerstats
#Brandon Ingram
career = playercareerstats.PlayerCareerStats(player_id='1627742')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1627742,2016-17,00,1610612747,LAL,19.0,79,40,2279.0,276,...,0.621,60,256,316,166,50,36,116,158,740
1,1627742,2017-18,00,1610612747,LAL,20.0,59,59,1975.0,358,...,0.681,57,257,314,230,45,43,149,163,949
2,1627742,2018-19,00,1610612747,LAL,21.0,52,52,1761.0,362,...,0.675,41,226,267,154,28,31,129,149,950
3,1627742,2019-20,00,1610612740,NOP,22.0,62,62,2103.0,507,...,0.851,51,329,380,259,61,38,189,179,1477
4,1627742,2020-21,00,1610612740,NOP,23.0,61,61,2092.0,513,...,0.878,34,265,299,296,42,36,154,124,1450
5,1627742,2021-22,00,1610612740,NOP,24.0,55,55,1869.0,453,...,0.826,35,285,320,307,34,26,151,119,1246
6,1627742,2022-23,00,1610612740,NOP,25.0,26,26,844.0,213,...,0.879,11,119,130,123,18,12,85,66,593

In [18]:
from nba_api.stats.endpoints import playercareerstats
#Julius Randle
career = playercareerstats.PlayerCareerStats(player_id='203944')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203944,2014-15,00,1610612747,LAL,20.0,1,0,14.0,1,...,0.000,0,0,0,0,0,0,1,1,2
1,203944,2015-16,00,1610612747,LAL,21.0,81,60,2286.0,358,...,0.715,172,657,829,144,53,29,149,242,919
2,203944,2016-17,00,1610612747,LAL,22.0,74,73,2132.0,377,...,0.723,150,486,636,264,49,37,173,248,975
3,203944,2017-18,00,1610612747,LAL,23.0,82,49,2190.0,504,...,0.718,181,473,654,210,43,45,213,274,1323
4,203944,2018-19,00,1610612740,NOP,24.0,73,49,2232.0,571,...,0.731,162,472,634,229,52,45,208,246,1565
5,203944,2019-20,00,1610612752,NYK,25.0,64,64,2080.0,463,...,0.733,151,471,622,198,51,22,193,178,1248
6,203944,2020-21,00,1610612752,NYK,26.0,71,71,2667.0,602,...,0.811,84,640,724,427,64,18,241,225,1712
7,203944,2021-22,00,1610612752,NYK,27.0,72,72,2544.0,512,...,0.756,125,591,716,370,53,39,245,205,1447
8,203944,2022-23,00,1610612752,NYK,28.0,62,62,2221.0,530,...,0.760,131,524,655,255,42,18,173,186,1559

In [19]:
from nba_api.stats.endpoints import playercareerstats
#Shai Gilgeous-Alexander
career = playercareerstats.PlayerCareerStats(player_id='1628983')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1628983,2018-19,00,1610612746,LAC,20.0,82,73,2174.0,341,...,0.800,57,175,232,270,96,45,141,175,889
1,1628983,2019-20,00,1610612760,OKC,21.0,70,70,2428.0,478,...,0.807,47,365,412,232,79,47,134,117,1331
2,1628983,2020-21,00,1610612760,OKC,22.0,35,35,1180.0,287,...,0.808,19,147,166,207,27,23,106,70,830
3,1628983,2021-22,00,1610612760,OKC,23.0,56,56,1942.0,477,...,0.810,37,241,278,331,71,46,154,142,1371
4,1628983,2022-23,00,1610612760,OKC,24.0,54,54,1918.0,553,...,0.908,48,208,256,307,89,58,155,145,1674

In [20]:
from nba_api.stats.endpoints import playercareerstats
#Wendell Carter Jr
career = playercareerstats.PlayerCareerStats(player_id='1628976')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1628976,2018-19,00,1610612741,CHI,20.0,44,44,1110.0,180,...,0.795,87,220,307,78,26,58,65,152,455
1,1628976,2019-20,00,1610612741,CHI,21.0,43,43,1256.0,183,...,0.737,139,266,405,51,33,36,72,162,484
2,1628976,2020-21,00,1610612741,CHI,22.0,32,25,792.0,129,...,0.739,70,180,250,69,18,24,49,96,348
3,1628976,2020-21,00,1610612753,ORL,22.0,22,19,583.0,101,...,0.721,62,131,193,35,17,18,29,50,258
4,1628976,2020-21,00,0,TOT,22.0,54,44,1375.0,230,...,0.732,132,311,443,104,35,42,78,146,606
5,1628976,2021-22,00,1610612753,ORL,23.0,62,61,1852.0,359,...,0.691,139,509,648,171,36,43,117,169,931
6,1628976,2022-23,00,1610612753,ORL,23.0,41,38,1223.0,228,...,0.739,88,268,356,105,16,24,89,122,620

In [21]:
from nba_api.stats.endpoints import playercareerstats
#Joel Embiid
career = playercareerstats.PlayerCareerStats(player_id='203954')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203954,2016-17,00,1610612755,PHI,23.0,31,31,786.0,200,...,0.783,61,182,243,66,27,76,117,112,627
1,203954,2017-18,00,1610612755,PHI,24.0,63,63,1912.0,510,...,0.769,143,547,690,199,40,111,234,209,1445
2,203954,2018-19,00,1610612755,PHI,25.0,64,64,2154.0,580,...,0.804,160,711,871,234,46,122,226,211,1761
3,203954,2019-20,00,1610612755,PHI,26.0,51,51,1506.0,382,...,0.807,141,452,593,152,45,65,159,174,1172
4,203954,2020-21,00,1610612755,PHI,27.0,51,51,1585.0,461,...,0.859,113,426,539,145,50,69,159,123,1451
5,203954,2021-22,00,1610612755,PHI,28.0,68,68,2296.0,666,...,0.814,146,650,796,284,77,99,214,181,2079
6,203954,2022-23,00,1610612755,PHI,28.0,47,47,1649.0,515,...,0.858,83,405,488,194,53,77,164,149,1557

In [22]:
from nba_api.stats.endpoints import playercareerstats
#Devin Booker
career = playercareerstats.PlayerCareerStats(player_id='1626164')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1626164,2015-16,00,1610612756,PHX,19.0,76,51,2108.0,367,...,0.840,27,160,187,200,44,20,160,225,1048
1,1626164,2016-17,00,1610612756,PHX,20.0,78,78,2731.0,606,...,0.832,46,203,249,268,72,21,241,242,1726
2,1626164,2017-18,00,1610612756,PHX,21.0,54,54,1865.0,455,...,0.878,26,218,244,253,47,14,194,168,1346
3,1626164,2018-19,00,1610612756,PHX,22.0,64,64,2242.0,586,...,0.866,39,226,265,433,56,13,264,200,1700
4,1626164,2019-20,00,1610612756,PHX,23.0,70,70,2512.0,627,...,0.919,29,268,297,456,49,18,264,213,1863
5,1626164,2020-21,00,1610612756,PHX,24.0,67,67,2270.0,623,...,0.867,34,247,281,289,53,16,207,181,1712
6,1626164,2021-22,00,1610612756,PHX,25.0,68,68,2345.0,662,...,0.868,45,297,342,329,77,26,162,180,1822
7,1626164,2022-23,00,1610612756,PHX,26.0,35,35,1192.0,333,...,0.841,27,133,160,199,29,12,89,98,926

In [23]:
from nba_api.stats.endpoints import playercareerstats
#Damian Lillard
career = playercareerstats.PlayerCareerStats(player_id='203081')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203081,2012-13,00,1610612757,POR,22.0,82,82,3167.0,553,...,0.844,42,215,257,531,74,19,243,172,1562
1,203081,2013-14,00,1610612757,POR,23.0,82,82,2937.0,553,...,0.871,35,253,288,457,64,22,193,197,1695
2,203081,2014-15,00,1610612757,POR,24.0,82,82,2925.0,590,...,0.864,49,329,378,507,97,21,222,164,1720
3,203081,2015-16,00,1610612757,POR,25.0,75,75,2676.0,618,...,0.892,45,257,302,512,65,28,242,165,1879
4,203081,2016-17,00,1610612757,POR,26.0,75,75,2693.0,661,...,0.895,46,322,368,440,68,20,197,152,2024
5,203081,2017-18,00,1610612757,POR,27.0,73,73,2670.0,621,...,0.916,62,263,325,481,77,27,206,117,1962
6,203081,2018-19,00,1610612757,POR,28.0,80,80,2838.0,681,...,0.912,68,303,371,551,88,34,212,148,2067
7,203081,2019-20,00,1610612757,POR,29.0,66,66,2474.0,624,...,0.888,33,251,284,530,70,22,194,114,1978
8,203081,2020-21,00,1610612757,POR,30.0,67,67,2398.0,602,...,0.928,32,251,283,505,62,17,203,102,1928
9,203081,2021-22,00,1610612757,POR,31.0,29,29,1056.0,222,...,0.878,13,107,120,212,17,11,83,37,695
10,203081,2022-23,00,1610612757,POR,32.0,46,46,1665.0,435,...,0.916,29,169,198,334,38,14,147,89,1445

In [24]:
from nba_api.stats.endpoints import playercareerstats
#Domantas Sabonis
career = playercareerstats.PlayerCareerStats(player_id='1627734')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1627734,2016-17,00,1610612760,OKC,21.0,81,66,1631.0,192,...,0.657,46,242,288,82,39,32,83,200,479
1,1627734,2017-18,00,1610612754,IND,22.0,74,19,1810.0,340,...,0.750,165,407,572,151,40,32,137,220,861
2,1627734,2018-19,00,1610612754,IND,23.0,74,5,1838.0,413,...,0.715,186,504,690,212,48,30,160,239,1043
3,1627734,2019-20,00,1610612754,IND,24.0,62,62,2159.0,458,...,0.723,189,582,771,310,47,30,170,195,1147
4,1627734,2020-21,00,1610612754,IND,25.0,62,62,2231.0,484,...,0.732,150,592,742,415,76,33,213,203,1260
5,1627734,2021-22,00,1610612754,IND,26.0,47,46,1632.0,331,...,0.740,155,412,567,236,46,22,143,146,888
6,1627734,2021-22,00,1610612758,SAC,26.0,15,15,504.0,112,...,0.743,46,139,185,87,13,5,52,57,283
7,1627734,2021-22,00,0,TOT,26.0,62,61,2136.0,443,...,0.741,201,551,752,323,59,27,195,203,1171
8,1627734,2022-23,00,1610612758,SAC,26.0,58,58,2002.0,409,...,0.767,173,544,717,401,50,26,172,213,1086

In [25]:
from nba_api.stats.endpoints import playercareerstats
#Devonte' Graham
career = playercareerstats.PlayerCareerStats(player_id='1628984')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1628984,2018-19,00,1610612766,CHA,24.0,46,3,676.0,74,...,0.761,10,53,63,121,23,2,30,48,217
1,1628984,2019-20,00,1610612766,CHA,25.0,63,53,2211.0,368,...,0.820,42,170,212,471,62,15,181,115,1145
2,1628984,2020-21,00,1610612766,CHA,26.0,55,44,1659.0,252,...,0.842,22,126,148,295,48,6,84,77,816
3,1628984,2021-22,00,1610612740,NOP,27.0,76,63,2162.0,296,...,0.843,37,140,177,316,71,12,105,95,902
4,1628984,2022-23,00,1610612740,NOP,28.0,53,0,811.0,85,...,0.746,12,60,72,116,30,10,27,48,280
5,1628984,2022-23,00,1610612759,SAS,28.0,6,1,169.0,25,...,0.750,5,10,15,28,5,4,5,8,82
6,1628984,2022-23,00,0,TOT,28.0,59,1,980.0,110,...,0.747,17,70,87,144,35,14,32,56,362

In [26]:
from nba_api.stats.endpoints import playercareerstats
#Pascal Siakam
career = playercareerstats.PlayerCareerStats(player_id='1627783')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1627783,2016-17,00,1610612761,TOR,23.0,55,38,859.0,103,...,0.688,64,121,185,17,26,45,33,109,229
1,1627783,2017-18,00,1610612761,TOR,24.0,81,5,1679.0,253,...,0.621,79,285,364,159,62,42,67,166,589
2,1627783,2018-19,00,1610612761,TOR,25.0,80,79,2548.0,519,...,0.785,124,425,549,248,73,52,154,241,1354
3,1627783,2019-20,00,1610612761,TOR,26.0,60,60,2110.0,500,...,0.792,64,375,439,207,61,53,148,170,1371
4,1627783,2020-21,00,1610612761,TOR,27.0,56,56,2006.0,437,...,0.827,95,310,405,250,64,37,130,174,1196
5,1627783,2021-22,00,1610612761,TOR,28.0,68,68,2578.0,596,...,0.749,128,452,580,360,85,42,181,225,1551
6,1627783,2022-23,00,1610612761,TOR,28.0,52,52,1951.0,472,...,0.768,95,306,401,315,43,29,131,171,1317

In [27]:
from nba_api.stats.endpoints import playercareerstats
#Collin Sexton
career = playercareerstats.PlayerCareerStats(player_id='1629012')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1629012,2018-19,00,1610612739,CLE,20.0,82,72,2605.0,519,...,0.839,57,179,236,243,44,6,185,186,1371
1,1629012,2019-20,00,1610612739,CLE,21.0,65,65,2143.0,513,...,0.846,61,143,204,192,65,7,158,142,1349
2,1629012,2020-21,00,1610612739,CLE,22.0,60,60,2115.0,525,...,0.815,58,129,187,262,62,10,167,157,1460
3,1629012,2021-22,00,1610612739,CLE,23.0,11,11,316.0,68,...,0.744,13,23,36,23,10,0,31,25,176
4,1629012,2022-23,00,1610612762,UTA,24.0,47,15,1129.0,230,...,0.822,37,67,104,135,27,6,84,109,670

In [30]:
from nba_api.stats.endpoints import playercareerstats
#Bradley Beal
career = playercareerstats.PlayerCareerStats(player_id='203078')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203078,2012-13,00,1610612764,WAS,20.0,56,46,1745.0,282,...,0.786,43,168,211,137,50,29,90,113,780
1,203078,2013-14,00,1610612764,WAS,21.0,73,73,2530.0,481,...,0.788,54,219,273,243,71,18,128,153,1249
2,203078,2014-15,00,1610612764,WAS,22.0,63,59,2107.0,363,...,0.783,57,184,241,194,76,18,123,136,962
3,203078,2015-16,00,1610612764,WAS,23.0,55,35,1708.0,359,...,0.767,41,147,188,162,54,11,112,117,958
4,203078,2016-17,00,1610612764,WAS,24.0,77,77,2684.0,637,...,0.825,53,187,240,267,83,21,156,169,1779
5,203078,2017-18,00,1610612764,WAS,25.0,82,82,2977.0,683,...,0.791,61,302,363,373,96,36,214,160,1857
6,203078,2018-19,00,1610612764,WAS,26.0,82,82,3028.0,764,...,0.808,89,322,411,448,121,58,224,226,2099
7,203078,2019-20,00,1610612764,WAS,27.0,57,57,2053.0,593,...,0.842,52,190,242,347,71,23,194,126,1741
8,203078,2020-21,00,1610612764,WAS,28.0,60,60,2147.0,670,...,0.889,72,211,283,265,69,22,187,140,1878
9,203078,2021-22,00,1610612764,WAS,29.0,40,40,1439.0,348,...,0.833,38,151,189,265,36,15,135,95,928
10,203078,2022-23,00,1610612764,WAS,29.0,38,38,1255.0,329,...,0.839,31,105,136,202,33,25,107,72,864